/* MAIN             *************************************************************************/
h5 {
    text-align: center;
}

.imgMe {
    width: 210px;
    float: left;
    margin: 0px 10px 0px 0px;
    border-radius: 3px;
}

.brief-info {
    width: 550px;
    margin: 0px auto;
    text-align: justify;
}

.socials {
    width: 700px;
    margin: 0px auto;
}

.links {
    width: auto;
    text-align: center;
    margin: 0px auto;
}

.link {
    width: 50px;
    height: 50px;
    margin: 0px auto;
    margin-top: 20px;
    border: 2px inset;
    border-radius: 10px;
}

.fb {
    background-image: url("../img/01_facebook.jpg");
}
/* MAIN ENDS HERE   *************************************************************************/

/* MEDIA QUERIES    *************************************************************************/
@media (max-width: 768px) {
    .brief-info {
        width: auto;
        margin: 0px 10px 0px 10px;
    }

    .socials {
        width: auto;
        margin: 0px auto;
    }

    .link {
        margin-top: 5px;
    }
}
