* {
  padding: 0px;
  margin: 0px;
}

.container {
  background-color: #01B6B6;
}

h1 {
  margin: 20px 0px 0px 10px;
	text-align: left;
	color: #0B6969;
}

.row {
  background-color: #1A1A1A;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
}

nav ul li a {
	margin-right: 25px;
	text-decoration: none;
	color: #0B6969;
}

footer {
	background-color: #1A1A1A;
	text-align: center;
	color: "white";
}
