header {
	background-color: #1A1A1A;
}

h1 {
	color: #0B6969;
	font-family: "myriad pro";
}

nav ul {
	text-align: left;
	
	transform: translateY(32px);
}

nav ul li {
	display: inline;
	width: 75px;
}

nav ul li a {
	margin-left: 20px;
	color: #0B6969;
	font-family: "myriad pro";
	font-size: 1.25em;
	font-weight: "thick";
}

@media (max-width: 1200px){  /*Medium*/
	header {
		background-color: lightblue;
	}
}

@media (max-width: 992px){  /*Small*/
	header {
		background-color: darkblue;
	}
	
	h1 {
		font-size: ;
	}
}

@media (max-width: 758px){  /*Extra Small*/
	header {
		background-color: darkgreen;
	}
	
	h1 {
		font-size:
	}
}
