.hero {
    height: clamp(220px, 50vw, 300px);
    position: relative;
    z-index: -1;

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;

        background-color: rgba(0, 0, 0, 0.25);
        opacity: .55;
        z-index: 1;
    }
    
    & img {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    .heroWrap {
        width: 45%;
        margin: 0 auto;
        height: 100%;

        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
}

:root {
    --diceWidth: 100px;
}

.diceWrap {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    .dice {
        transform-style: preserve-3d;
        
        aspect-ratio: 1/1;
        width: var(--diceWidth);

        position: relative;

        transform: rotate3d(1, 1, 0, 60deg);

        animation: diceRotate 10s ease-in-out infinite;
    }

    .side {
        aspect-ratio: 1/1;
        width: var(--diceWidth);

        position: absolute;
    }

    .front {
        background-color: darkblue;
        transform: translateZ(calc(var(--diceWidth)/2));
    }

    .back {
        background-color: darkgoldenrod;
        transform: translateZ(calc(var(--diceWidth)/-2));
    }

    .right {
        background-color: darkorange;
        transform: translateX(calc(var(--diceWidth)/2)) rotateY(90deg);
    }

    .left {
        background-color: darkgreen;
        transform: translateX(calc(var(--diceWidth)/-2)) rotateY(-90deg);
    }

    .top {
        background-color: darkcyan;
        transform: translateY(calc(var(--diceWidth)/2)) rotateX(90deg);
    }

    .bottom {
        background-color: darkred;
        transform: translateY(calc(var(--diceWidth)/-2)) rotateX(-90deg);
    }
}

.heroWrap .contentText {
    display: flex;
    align-items: center;
    justify-content: right;

    .contentTextWrap {
        width: 100%;
        padding: 1rem;
        background-color: #33333361;
        border-radius: 1rem;
        z-index: 10;
    }
}

@keyframes diceRotate {
    25% { transform: rotate3d(1,1,0,320deg); }
    50% { transform: rotate3d(0,1,1,60deg); }
    75% { transform: rotate3d(1,0,1,320deg); }
    100% { transform: rotate3d(1,1,0,60deg); }
}

h5 {
    text-align: left;
}

.imgMe {
    float: left;
    border-radius: 10px;
    margin-right: 25px;
}

.gallery {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    gap: 10px;
}

.imgCenter {
    max-width: 250px;
    width: 48%;
    aspect-ratio: 1/1;

    position: relative;

    .imgAboutMe {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

/* MEDIA QUERIES    *************************************************************************/
@media (min-width: 426px) {
    .gallery {
        flex-wrap: nowrap;
    }
}

@media (min-width: 768px) {
    .brief-info {
        width: auto;
    }
}

@media (min-width: 1024px) {
    .brief-info {
        margin-top: 2rem;
    }
}