h5 {
    text-align: center;
}

.brief-info {
    display: grid;
    grid-template-columns: 1fr;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.imgCenter img {
    height: 100%;
}

/* MEDIA QUERIES    *************************************************************************/
@media (min-width: 426px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .brief-info {
        width: auto;
        margin: 0px 10px 0px 10px;
    }

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}