main .sub_Header {
    text-align: center;
    margin-bottom: 10px;
}

h5 {
    color: rgba(0, 0, 0, 0.801);
    margin: 0px 10px 0px 10px;
    font-size: x-larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.skills {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.skillset {
    background-color:rgba(198, 122, 233, 0.295);
    border: 5px solid transparent;
}

.skillset ul {
    list-style-type: disc;
}

.skillset ul li {
    margin-left: 40px;
    margin-bottom: 3px;
    text-align: left;
    color: rgb(230, 230, 230);
    font-size: 15px;
}

.devset {
    background-color: chocolate;
    padding: 0px;
    text-align: center;
}

.devinfo {
    background-color: rgba(255, 122, 27, 0.5);
    border-radius: 5px;
}

.devSub {
    text-align: left;
    font-size: large;
}

.devinfo p {
    text-align: left;
    color: aliceblue;
    padding: 0px;
    font-size: 0.95em;
}

/*** MEDIA QUERIES *********************************************************/

@media(min-width: 426px) {
    .skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .skillset:nth-child(3) {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .devset {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media(min-width: 769px) {
    .skills {
        grid-template-columns: repeat(3, 1fr);
    }

    .devset {
        grid-row-start: 1;
        grid-column-start: 3;
    }
}
