main {
    width: 100%;
}

.hero {
    position: relative;
    height: 70vh;
    max-height: 650px;
    background-color: aliceblue;

    .wrap {
        width: 95%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        gap: 3rem;
        align-items: center;
    }

    .wrap .content {
        margin: 0;

        & h1 {
            font-family: "Rubik";
            font-size: 2.4rem;
        }

        & p {
            font-family: "Rubik";
            font-size: 1.2rem;
        }
    }
}

/*** MEDIA QUERIES *********************************************************/

/* @media(min-width: 426px) {
} */

/* @media(min-width: 768px) {
} */

@media(min-width: 1024px){
    .hero {
        max-height: 350px;
        border: 1px solid red;

        .wrap {
            width: 80%;
            height: 100%;
        }

        .wrap .content {
            width: 50%;
            border: 1px solid red;
        }
    }

    .skills {
        padding: 3rem 0;

        .wrap {
            width: 80%;
            margin: 0 auto;
            
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(3, 1fr);

            .skill {
                border: 2px solid rgba(30, 143, 255, 0.884);
                padding: 1rem;
                border-radius: .4rem;

                .skillbd {
                    display: flex;
                    flex-direction: column;
                    gap: .4rem;

                    & h5 {
                        font-family: "Rubik";
                        font-size: 1.2rem;
                    }

                    & p {
                        font-family: "Rubik";
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
