* {
    padding: 0; margin: 0; box-sizing: border-box;
}

body {
    background-color: #241200;
}

/* HEADER           *************************************************************************/
header {
    background-color: darkcyan;
    height: 75px;

    display: flex;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
}

.header-wrapper {
    height: inherit;
    width: 100%;
    margin: 0 auto;

    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper h1 {
    color: white;
    font-size: 1.2rem;
}

/*** PRIMARY NAVIGATION MENU  ***/

.btnNav-toggle {
    display:none;
}

.primary-nav {
    list-style: none;

    color: white;

    display: flex;
    gap: .5rem;
}

.primary-nav li a {
    text-decoration: none;
    font-weight: 600;
    font-size: .8rem;
    color: white;
}

@media(max-width: 30em) {
    .btnNav-toggle {
        display: block;
        position: fixed;
        padding: 0;

        z-index: 9999;
        width: 2rem;
        aspect-ratio: 1;
        top: 1rem;
        right: 2rem;

        background-color: darkcyan;
        background-image: url(../image/menu.svg);
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        border-radius: 5px;
    }

    .btnNav-toggle[aria-expanded="true"] {
        background-image: url(../image/close.svg);
    }

    .btnNav-toggle:focus {
        outline: none;
    }

    .primary-nav {
        background: hsl(0 0% 0% / .5);
        backdrop-filter: blur(.25rem);
        height: 100%;

        position: fixed;
        inset: 0 0 0 100%;
        z-index: 100;

        flex-direction: column;
        padding: min(20vh, 10rem) 3em;

        transition: inset 350ms ease-out;
    }

    .primary-nav[data-visible="true"] {
        inset: 0 0 0 50%;
    }
}


.linkset {
    background-color: rgba(255, 68, 0, 0.753);
}
/* HEADER ENDS HERE *************************************************************************/

/* MAIN             *************************************************************************/

main {
    margin-top: 1rem;
    color: #c1c1c1;
}

main h2 {
    text-align: center;
    color: rgba(233, 222, 122, 0.801);
}

.hrOrange {
    height: 15px;
    background-color: rgba(255, 68, 0, 0.753);
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 3px;
}
/* MAIN ENDS HERE   *************************************************************************/


/* MAIN ENDS HERE   *************************************************************************/
.bar {
    background-color: #c5c6c7;
    height: 2px;
    margin: 4px 2px 4px 2px;
    border-radius: 1px;
}

/* FOOTER           *************************************************************************/
footer {
    height: 100px;
    background-color: #0b0c10;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

footer ul {
    margin-top: 10px;
    list-style-type: none;
}

footer ul li {
    color: whitesmoke;
    font-size: small;
    text-align: center;
}

.copyright {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    color: whitesmoke;
    text-align: center;
}
/* FOOTER ENDS HERE *************************************************************************/

/* MEDIA QUERIES    *************************************************************************/
@media (min-width: 426px) {
    .header-wrapper {
        width: clamp(425px, 80%, 1000px);
    }
}

@media (min-width: 768px){
    .copyright {
        margin-top: 35px;
    }
}

.bd-Red {border: 1px solid red;}
.bd-Blue {border: 1px solid blue;}
.bd-Green {border: 1px solid green;}
.bd-Yellow {border: 1px solid yellow;}
