* {
    padding: 0; margin: 0; box-sizing: border-box;
}

body {
    background-color: #241200;
}

/* HEADER           *************************************************************************/
header {
    background-color: darkcyan;
    height: 75px;

    display: flex;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
}

.header-wrapper {
    height: inherit;
    width: 100%;
    margin: 0 auto;

    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper h1 {
    margin: 0;
    color: white;
    font-size: 1.2rem;
}

/*** PRIMARY NAVIGATION MENU  ***/

.btnNav-toggle {
    display:none;
}

.primary-nav {
    list-style: none;
    margin: 0;

    color: white;

    display: flex;
    gap: 1rem;
}

.primary-nav li a {
    text-decoration: none;
    font-weight: 600;
    font-size: .8rem;
    color: white;
}

@media(max-width: 30em) {
    .btnNav-toggle {
        display: block;
        position: fixed;
        padding: 0;

        z-index: 9999;
        width: 2rem;
        aspect-ratio: 1;
        top: 1.3rem;
        right: 2rem;

        background-color: darkcyan;
        background-image: url(../image/menu.svg);
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        border-radius: 5px;
    }

    .btnNav-toggle[aria-expanded="true"] {
        background-image: url(../image/close.svg);
    }

    .btnNav-toggle:focus {
        outline: none;
    }

    .primary-nav {
        background: hsl(0 0% 0% / .5);
        backdrop-filter: blur(.25rem);
        height: 100%;

        position: fixed;
        inset: 0 0 0 100%;
        z-index: 100;

        flex-direction: column;
        padding: min(20vh, 10rem) 3em;

        transition: inset 350ms ease-out;
    }

    .primary-nav[data-visible="true"] {
        inset: 0 0 0 50%;
    }
}

.linkset {
    background-color: rgba(255, 68, 0, 0.753);
}
/* HEADER ENDS HERE *************************************************************************/

/* MAIN *************************************************************************************/

main {
    width: clamp(250px, 95%, 800px);
    margin: 0 auto;
    margin-top: 1rem;
    color: #c1c1c1;
}

main .sub_Header {
    text-align: center;
    color: rgba(233, 222, 122, 0.801);
    font-size: clamp(1.2rem, 3vw, 2rem);
}

main .sub_Text {
    text-align: center;
    margin-top: 10px;
    font-size: clamp(1rem, 2vw, 1.4rem);
}
/*** MAIN ENDS HERE   *************************************************************************/


.bar {
    background-color: #c5c6c7;
    height: 2px;
    margin: 4px 2px 4px 2px;
    border-radius: 1px;
}

/* FOOTER           *************************************************************************/
footer {
    background-color: #0b0c10;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    padding: 20px 20px 0 20px;
}

.footer-wrap {
    max-width: 800px;
    width: 95%;
    margin: 0 auto;

    display: flex;
    align-items: start;

    & h6 {
        color: goldenrod;
    }
}

.contact {
    width: 50%;

    & ul {
        list-style-type: none;
        
        & li {
            padding: 0;
            margin: 0;
            color: whitesmoke;
            font-size: small;
        }
    }
}

.links {
    width: 50%;
    margin: 0px auto;

    .socials {
        display: flex;
        gap: 2rem;
        justify-content: start;
    }

    .link-img {
        width: 35px;
        transition: transform ease .3s;

        &:hover {
            transform: scale(110%);
        }
    }
}

.copyright {
    margin: 10px 0 0 0;
    padding-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11px;
    color: whitesmoke;
    text-align: center;
}
/* FOOTER ENDS HERE *************************************************************************/

/* MEDIA QUERIES    *************************************************************************/
@media (min-width: 426px) {
    .header-wrapper {
        width: clamp(425px, 80%, 800px);
    }
}

.bd-Red {border: 1px solid red;}
.bd-Blue {border: 1px solid blue;}
.bd-Green {border: 1px solid green;}
.bd-Yellow {border: 1px solid yellow;}